body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.header-site{
  margin-top: 55px;

}

div.section1{
  margin-top: 55px;
  background-image: url(assets/img/background.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  padding-top: 355px;
  padding-bottom: 355px;
}
div.section2{
  padding-top: 200px;
  padding-bottom: 200px;
}

div.section4{
  margin-top: 55px;
  background-image: url(assets/img/background2.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  padding-top: 200px;
  padding-bottom: 200px;
}

div.footer-site{
  padding-top: 10px;
  background-color: #333;
  color: #ffffff;
}